online-game/node_modules
online-game/static/data/chatlog.txt
online-game/static/data/playerlog.txt
online-game/static/data/*log.txt
AI/startbots.sh
AI/killbots.sh
AI/run_ai_OUT.log
npc-tt/
AI/bots_all.log
online-game/static/data/LOG.txt
online-game/static/data/VOTE_DATA.txt
online-game/static/data/LOG.txt
online-game/static/data/VOTE_DATA.txt
online-game/static/data/APID_DATA.txt
online-game/static/data/humanCt.txt
online-game/static/data/*.txt
