bidict==0.23.1
certifi==2025.8.3
charset-normalizer==3.4.3
h11==0.16.0
idna==3.10
netifaces==0.10.6
python-engineio==4.12.3
python-socketio==5.14.0
PyYAML==6.0.3
requests==2.32.5
setuptools==3.3
simple-websocket==1.1.0
six==1.17.0
socketio==0.2.1
socketIO-client==0.7.2
urllib3==2.5.0
websocket-client==1.8.0
wsproto==1.2.0
